<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Беглый-анализ-данных" data-toc-modified-id="Беглый-анализ-данных-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Беглый анализ данных</a></span></li><li><span><a href="#Рекомендации" data-toc-modified-id="Рекомендации-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Рекомендации</a></span></li></ul></div>

Тестовое задание Data Scientist

Задача:
Дать рекомендации и заключения по оптимизации воронки.
Оптимизация воронки - увеличение прибыли за счет большего конверта или уменьшение костов за
счет более эффективной закупки.

Данные:
https://drive.google.com/open?id=1sHAqb4sogh45V-QDCR-pNr_3boZvcgs-

Описание полей:
    DATE_OF_EVENT - день клика, заплатить он мог мозже, но все равно тригер реги упадет сюда
    EVENT_ID - уникальный ID клика, каждый пользователь может сделать неограниченное кол-во
кликов
    USER_ID - уникальный ID пользователя, каждый пользователь может сделать неограниченное кол-
во кликов
    WAY_ID - канал\сплит
    CAMPAIGN_ID - группа баннеров, кампания, внутренний идентификатор
    PLACEMENT_ID - баннер, на который кликнул пользователь.
    INT_CAMPAIGN_ID - ID кампании
    MEDIUM_ID - промежуточный баннер с вопросами (типа какой цвет волос нарвится, в каком городе
живете, и тд.). Его могут не пройти, тогда будет отвал.
    PRODUCT_ID - заход на регистрационную форму ID продукта. Тут может заполнить форму и
перейти в событию регистрации. Или уйти.
    REG_TRIG - ивент регистрации, каждый пользователь может зарегистрироваться неограниченном
кол-ве продуктов. Но только 1 раз на каждом.
    PMNT_TRIG - тригер платежа связки "USER_ID"-"PRODUCT_ID"-"REG_TRIG". Т.е данный юзер
заплатил на данном продукте после реги. Платеж без невозможен.

# Беглый анализ данных

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df1=pd.read_csv('./Downloads/testovoe/1.csv',parse_dates=['DATE_OF_EVENT'], index_col='DATE_OF_EVENT')

In [3]:
#df2=pd.read_csv('./Downloads/testovoe/2.csv',parse_dates=['DATE_OF_EVENT'], index_col='DATE_OF_EVENT')

In [4]:
df1

,EVENT_ID,USER_ID,WAY_ID,CAMPAIGN_ID,PLACEMENT_ID,INT_CAMPAIGN_ID,MEDIUM_ID,PRODUCT_ID,REG_TRIG,PMNT_TRIG
DATE_OF_EVENT,,,,,,,,,,
2017-05-05,a18841cf5c3208f4c3d7b139589bc897b1f29f45,ea62471c114233e16ef425975d13d51de9e8f20d,b,ex13m,15982135,g6932ish,20484,NaN,0,0
2017-05-05,a1893bd515bf06853f45a3d0d038e96e5210fd72,0afaf3ac1ec6f685582145038bfece98f29f8fee,a,ex13m,16056045,g1417bel,19227,NaN,0,0
2017-05-05,a1893f9ef3cdb2f62db472b0d51bfedf92e499e9,f7135b828d63cb008497f40496a9425d0edc752d,a,ex13p1p,16051115,g6746yar,19769,NaN,0,0
2017-05-05,a189ffe910621a892af40d0ec3a9394bbee69875,b37c9d8a3801885db63369e661c00e5ec6bdfffa,a,tru3wb,231834,g5529bel,20443,wntmRfb4b6dc7647e11e6bf1e984be1741384_b2463e76...,0,0
2017-05-05,a18a240c3691c73d2c9465157824b1ad3e05b4b2,28dc89f5ecc3e14b64e38caedb97ffb959bc9839,a,th3m,In4j9u2h.gi4,g6388kro,17589,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...
2017-05-04,ec74441b434e90ffcc915e7dfd4247a6b7f0a4cb,a342e6fc2ae17ead15abbc75262b3dbc5e76e50e,a,ex13p1p,14883977,g0552shm,20181,NaN,0,0
2017-05-04,ec74b2e82c59e67c633e3cd47314bba588518a0a,bd74144daaa1efb591e63a8dc170b2004fef1175,a,tE4,Ing_4t_117,g2211pod,20322,NaN,0,0
2017-05-04,ec7509144eac6d50526c531bd4d6bdb102286b42,82a1258a49b376c52055bd73d07104381d0569c9,d,wh3um,Qt1,g7162bar,20630,NaN,0,0
2017-05-04,ec7512c4c6e27ca45f1846c251a3bbfebfdb496a,6ce7e20678dd1fa6d83930d3f68e1d7c73c6ad3f,c,wh3um,Qt1,g7162bar,19866,NaN,0,0
2017-05-04,ec754bb5b6a9e0c3b26d1d3332e886428f1345be,45f8b6812e8ed2ef896b2a2f3ffc81747eb2e374,d,wh3um,Qt1,g7162bar,20246,NaN,0,0

In [5]:
df1=df1.drop_duplicates()

In [6]:
df1.isnull().sum()

EVENT_ID                 0
USER_ID                  0
WAY_ID                   0
CAMPAIGN_ID              1
PLACEMENT_ID           270
INT_CAMPAIGN_ID          0
MEDIUM_ID              401
PRODUCT_ID         5350402
REG_TRIG                 0
PMNT_TRIG                0
dtype: int64

In [7]:
WAY_ID=df1.groupby(['WAY_ID','PMNT_TRIG'],as_index=False).count().pivot_table(values='EVENT_ID', index=['WAY_ID'],columns=['PMNT_TRIG'], aggfunc=sum,fill_value=0)

In [8]:
#каналы в абсолютных значения которые принесли прибыли(см.столбец 1)
WAY_ID

PMNT_TRIG        0     1
WAY_ID
a          3354128  2568
b          1088212   777
c           454814    59
d           445499    50
e           445521    42
f              415     0

In [9]:
#канал\сплит в долях.
WAY_ID.apply(lambda x: x/x.sum(),axis=1).reset_index().sort_values(1, ascending=False)

PMNT_TRIG WAY_ID         0         1
0              a  0.999235  0.000765
1              b  0.999286  0.000714
2              c  0.999870  0.000130
3              d  0.999888  0.000112
4              e  0.999906  0.000094
5              f  1.000000  0.000000

In [10]:
gr_banner=df1.groupby(['CAMPAIGN_ID','PMNT_TRIG'],as_index=False).count().pivot_table(values='EVENT_ID', index=['CAMPAIGN_ID'],columns=['PMNT_TRIG'], aggfunc=sum,fill_value=0)

In [11]:
#gr_banner-группа баннеров,которые не принесли прибыли, претендеты на удаление
gr_banner[gr_banner[1]==0].sort_values(0)

PMNT_TRIG                          0  1
CAMPAIGN_ID
tE43bw                             1  0
bm3bm                              2  0
wh3bw                              2  0
viv78u3uw                          5  0
click3m                            5  0
gumib3uw                           5  0
thunt3wb                           5  0
ex13bm                             7  0
p1llux3wp                          8  0
viv783uw                          11  0
th78uu3m                          18  0
bm3bw                             21  0
tjb3bw                            23  0
22E4l3bm                          23  0
tE4783m                           27  0
th3p1p                            28  0
gumim783uw                        37  0
tupec1rp3bw                       38  0
pimp3bm                           38  0
tj3t78b                           81  0
gumib3bw                          92  0
etg3bw                           256  0
78dxpg3uw                        273  0
l1c3uw                           283  0
viv78u3um                        332  0
m1b3uu783m78E4E43300x1003prem    374  0
wh3uw                           2085  0
tru3pm                         59510  0
tru3wp                         65212  0

In [12]:
#gr_banner-группа баннеров,которые принесли прибыли в абсол.ед.
gr_banner[gr_banner[1]!=0].sort_values(1,ascending=False)

PMNT_TRIG                            0     1
CAMPAIGN_ID
tE4                             952166  1232
ex13m                           519616   676
tj3m                            176802   316
wh3um                          2212366   205
tru3bm                          446547   181
wh3bm                            15402   134
lvc3bm                           19542   123
th3m                             44260    99
78dnm3bm                         62403    76
tE43wb                           52962    51
tru3wb                           71712    48
etg3em                           15135    47
tj3ub                           199580    41
78dxE4b3um                        7567    40
gumidg3um                        10852    28
whell3bm                        264054    23
rep3m                            37595    22
p1llux3bm                        37422    21
ex13p1p                         445661    20
gumib3bm                          2056    16
l1c3um                            5142    14
78dxpE4b3uw                       1059    12
tj3bw                             9573    10
pimp3em3m                         6163     9
ex78d3bm                          2364     7
E4reex3uw                         5175     6
gumi3um                            862     6
guminn3em                          914     6
gumilc3um                         2030     5
tupec1rp3bm                      16195     4
78dv3bw                             86     3
m1b3uu783wntm3300x2503prem         276     2
etg3bm                             868     2
gumiwld3um                         237     2
lc78uh3wb                          489     2
p1llux3pm                        10696     1
gumi3uw                            387     1
m1b3uu783wntm3300x1003prem         396     1
m1b3uu783m78E4E43300x2503prem      226     1
ex13bw                            1260     1
dn3um                              185     1
gumip3um                          1503     1

In [13]:
#gr_banner-группа баннеров,которые принесли прибыли в долях.
gr_banner[gr_banner[1]!=0].apply(lambda x: x/x.sum(),axis=1).sort_values(1, ascending=False)

PMNT_TRIG                             0         1
CAMPAIGN_ID
78dv3bw                        0.966292  0.033708
78dxpE4b3uw                    0.988796  0.011204
wh3bm                          0.991375  0.008625
gumiwld3um                     0.991632  0.008368
gumib3bm                       0.992278  0.007722
m1b3uu783wntm3300x2503prem     0.992806  0.007194
gumi3um                        0.993088  0.006912
guminn3em                      0.993478  0.006522
lvc3bm                         0.993745  0.006255
dn3um                          0.994624  0.005376
78dxE4b3um                     0.994742  0.005258
m1b3uu783m78E4E43300x2503prem  0.995595  0.004405
lc78uh3wb                      0.995927  0.004073
etg3em                         0.996904  0.003096
ex78d3bm                       0.997048  0.002952
l1c3um                         0.997285  0.002715
gumi3uw                        0.997423  0.002577
gumidg3um                      0.997426  0.002574
m1b3uu783wntm3300x1003prem     0.997481  0.002519
gumilc3um                      0.997543  0.002457
etg3bm                         0.997701  0.002299
th3m                           0.997768  0.002232
tj3m                           0.998216  0.001784
pimp3em3m                      0.998542  0.001458
ex13m                          0.998701  0.001299
tE4                            0.998708  0.001292
78dnm3bm                       0.998784  0.001216
E4reex3uw                      0.998842  0.001158
tj3bw                          0.998956  0.001044
tE43wb                         0.999038  0.000962
ex13bw                         0.999207  0.000793
tru3wb                         0.999331  0.000669
gumip3um                       0.999335  0.000665
rep3m                          0.999415  0.000585
p1llux3bm                      0.999439  0.000561
tru3bm                         0.999595  0.000405
tupec1rp3bm                    0.999753  0.000247
tj3ub                          0.999795  0.000205
p1llux3pm                      0.999907  0.000093
wh3um                          0.999907  0.000093
whell3bm                       0.999913  0.000087
ex13p1p                        0.999955  0.000045

In [14]:
PLACEMENT_banner=df1.groupby(['PLACEMENT_ID','PMNT_TRIG'],as_index=False).count().pivot_table(values='EVENT_ID', index=['PLACEMENT_ID'],columns=['PMNT_TRIG'], aggfunc=sum,fill_value=0)

In [15]:
#banner-баннеры,которые не принесли прибыли, претендеты на удаление
PLACEMENT_banner[PLACEMENT_banner[1]==0].sort_values(0)

PMNT_TRIG                     0  1
PLACEMENT_ID
 wIb_blwk_uQ8_bl8ck  AD3      1  0
In0zt1wx                      1  0
In0z8utm                      1  0
Inm4wb8p                      1  0
Inn2by2v                      1  0
...                         ... ..
14825617                  13181  0
166007                    13371  0
247098                    26928  0
247006                    27101  0
184272                    45649  0

[2625 rows x 2 columns]

In [16]:
#banner-баннеры,которые приносят прибыли
PLACEMENT_banner[PLACEMENT_banner[1]!=0].sort_values(1,ascending=False)

PMNT_TRIG           0    1
PLACEMENT_ID
Qt1           2213788  205
Ing_bl_4t_59    42985  100
Ing_Qq_2061     33125   85
Ing_4t_611      78148   80
15940469        22872   75
...               ...  ...
3_194918.gi4      169    1
14708545          960    1
3_194916.gi4      575    1
Ing_Qq_737        977    1
16056301         1965    1

[642 rows x 2 columns]

In [17]:
MEDIUM_ID=df1.groupby(['MEDIUM_ID','PMNT_TRIG'],as_index=False).count().pivot_table(values='EVENT_ID', index=['MEDIUM_ID'],columns=['PMNT_TRIG'], aggfunc=sum,fill_value=0)

In [18]:
#опросники,которые не приносят прибыли
MEDIUM_ID[MEDIUM_ID[1]==0].sort_values(0,ascending=False)

PMNT_TRIG     0  1
MEDIUM_ID
19117      8892  0
19274      8380  0
17113      7357  0
19995      7131  0
20356      6967  0
...         ... ..
19546         1  0
20361         1  0
19884         1  0
20064         1  0
20548         1  0

[164 rows x 2 columns]

In [19]:
#опросники,которые приносят прибыли
MEDIUM_ID[MEDIUM_ID[1]!=0].sort_values(1,ascending=False)

PMNT_TRIG       0    1
MEDIUM_ID
19022      261650  376
20443      176086  205
20322      176160  164
20482      113410  163
20614      114697  136
...           ...  ...
20341         463    1
20688        9931    1
20306        1297    1
20541        1293    1
5735          366    1

[170 rows x 2 columns]

In [20]:
#ID кампании после которых отваливаются пользователи 
df1[df1.MEDIUM_ID.isna()]['INT_CAMPAIGN_ID'].value_counts()

g7426zoz    395
g0552shm      2
g3351sum      1
g7162bar      1
g1921bel      1
g0271sum      1
Name: INT_CAMPAIGN_ID, dtype: int64

In [21]:
#опросники после которых отваливаются пользователи и отказываются выбирать продукты
df1[df1.PRODUCT_ID.isna()]['MEDIUM_ID'].value_counts()

20246    395352
20705    291511
20630    283142
19769    251502
19022    218295
          ...
19379         1
20521         1
20739         1
19411         1
20668         1
Name: MEDIUM_ID, Length: 331, dtype: int64

In [22]:
PRODUCT_ID=df1.groupby(['PRODUCT_ID','PMNT_TRIG'],as_index=False).count().pivot_table(values='EVENT_ID', index=['PRODUCT_ID'],columns=['PMNT_TRIG'], aggfunc=sum,fill_value=0)

In [23]:
#Продукты которые не покупают
PRODUCT_ID[PRODUCT_ID[1]==0].sort_values(0,ascending=False)

PMNT_TRIG                                             0  1
PRODUCT_ID
onfR50903cd5978c11e69bf5984be1741384_4329bfee2d...  291  0
ndRc26f249a028511e789f9984be1741384_4d5947a22f0...  275  0
ndR3d29adffea8d11e58a6f101f74370270_4d5947a22f0...  245  0
ndR5835e2fbfe9e11e689f9984be1741384_4d5947a22f0...  243  0
iwntR7fb01eb3ff3211e689f9984be1741384_3ed0b1ea7...  192  0
...                                                 ... ..
onfR0f70681bef8611e58a6f101f74370270_07b8fc75d0...    1  0
flirtR3d29adffea8d11e58a6f101f74370270_4d5947a2...    1  0
flirtR1f91e6b4101911e58974101f74370270_bb4ffe88...    1  0
onfR27c57913c39f11e69bf5984be1741384_06ce3e1f2f...    1  0
onfR5d2a8597ef7411e58a6f101f74370270_23d96a5e9a...    1  0

[788 rows x 2 columns]

In [24]:
#Продукты которые покупают
PRODUCT_ID[PRODUCT_ID[1]!=0].sort_values(1,ascending=False)

PMNT_TRIG                                               0    1
PRODUCT_ID
flirtR5a7176a5436a11e68a6f101f74370270_c4756636...  20144  217
lvhRf2db26f70dee11e58974101f74370270_bb4ffe8873...  29122  213
efR5bcef757690711e6bf1e984be1741384_d8c4b4f5fdc...   6598  132
t2nR20becb19f83211e689f9984be1741384_f1878e86de...  13653   94
fatfR3588bd0995d711e69bf5984be1741384_3ed0b2c67...   7387   88
...                                                   ...  ...
igtnR4bfc888cce5f11e58a6f101f74370270_00a89e5ea...      3    1
igtnR4bfc888cce5f11e58a6f101f74370270_00a89e5ea...     16    1
iwntR0892b8f3a1c011e69bf5984be1741384_3ed0b1ea7...     62    1
ndR3d29adffea8d11e58a6f101f74370270_4d5947a22f0...     20    1
onfR50903cd5978c11e69bf5984be1741384_4329bfee2d...    163    1

[286 rows x 2 columns]

In [25]:
df1.REG_TRIG.value_counts()

0    5654352
1     137733
Name: REG_TRIG, dtype: int64

In [26]:
df1.PMNT_TRIG.value_counts()

0    5788589
1       3496
Name: PMNT_TRIG, dtype: int64

In [27]:
#Не совсем понятно, как проходят платежи по неизвестным продуктам, но почему все другие сведения подтягиваются...(возможно за предыдущие периоды?)
df1.loc[(df1.REG_TRIG==0) & (df1.PMNT_TRIG==1) & (df1.PRODUCT_ID.isna()),]

,EVENT_ID,USER_ID,WAY_ID,CAMPAIGN_ID,PLACEMENT_ID,INT_CAMPAIGN_ID,MEDIUM_ID,PRODUCT_ID,REG_TRIG,PMNT_TRIG
DATE_OF_EVENT,,,,,,,,,,
2017-05-01,0e67d2b52ab969db0a85558b89b3e9033d0c5f49,4e46eb25020b848b96cdb64b5631cd923640528e,b,ex13m,15253551,g3070shm,20460,NaN,0,1
2017-05-01,01c3ad2c15f8b87230290f7288af8c8bc268f70d,4c83a4374d91e105cf4d2913e6148919d567120d,a,tru3bm,124164,g0327bel,20346,NaN,0,1
2017-05-01,3f7617dbe9b99e2ef66e933d78ca44ec71ac1216,95f6d43c03ac718b8698d1109b7d2fd33ea13e91,a,whell3bm,Qt9,g5449bar,19254,NaN,0,1
2017-05-01,10dcb61608c3682c20caa8e4f0d153cf54c4e4eb,c41f627efc4a20631ab63fed5459b08bcf91cf10,a,tE4,Ing_Qq_105,g2211pod,20750,NaN,0,1
2017-05-01,28f56db8c14d6879dd794a1ac5bd4094dd704f3b,dff9b27ea42122eb2ff6471e4ee0bfc4a51022d2,a,tj3m,444g,g3692shm,20621,NaN,0,1
...,...,...,...,...,...,...,...,...,...,...
2017-05-06,ed8d6d1331138f0ccb2a03288a66c1be04fda500,d1bb44cf58e96e0f1d5c74fd635942327787a535,a,wh3bm,0029w80l.gi4,g7290bar,19866,NaN,0,1
2017-05-06,f8836cb3260b7c0827bfeebaa8a1f93bbad26817,f99111fe19bcb0572827c085be1a0e6b1d260bb4,a,tj3m,1011517091,g3695shm,20737,NaN,0,1
2017-05-06,ff4d00bd42cf8ddf7d4a5a3f21ef53fc3a8d9017,86a198c6ad206242ca0a3303f753b2a0302b261b,a,tE4,Ing_4t_617,g2224pod,20482,NaN,0,1
2017-05-07,0ade8a83a2496ceb98deec196ea00180898ce834,f22837c0330b42b9affb44f5e613332314416e11,a,tE4,Ing_4t_556,g2224pod,20482,NaN,0,1
2017-05-07,250eb5a02c1101e09a7d3796794412ab94c3c230,b44bd734a016d5b045977a517509307e92229bb3,a,tE4,Ing_4t_504,g6507pod,20322,NaN,0,1

# Рекомендации

На основании беглого анализа по данным(к сожалению не приведена бизнес модель, что мало дает информации), для оптимизации воронки необходимо пересмотреть и убрать не популярные каналы,группы баннеров,ит.д. вниз по дереву, которые не приносят платежи, а только являются затратными(так как необходимо оплачивать каждые клики за размещенные банеры).Соответственно это может перераспределить конверсию пользователей через наиболее востребованные каналы/банеры итд. и привести к платежам.
Чтобы автоматизировать процесс перераспределения трафика пользователей через все сегменты воронки, можно рассматривать эту задачу как оптимизационную задачу линейного мат.программирования и найти оптимальный план, ниже привожу ссылку на постановку варианта задачи о выпуске продукции.

https://studfile.net/preview/7513796/page:5/

Также вызывают сомнение,насколько необходимы опросники?можно ли монетизировать информацию полученную из них или стоит отказаться от них вообще?